<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/head :: head"></div>

<body class="adminbody">

<div id="main">
    <!-- top bar navigation -->
    <div th:replace="fragments/nav :: top_bar_navigation"></div>
    <!-- End Navigation -->
    <!-- Left Sidebar -->
    <div th:replace="fragments/sidebar :: left_sidebar"></div>
    <!-- End Sidebar -->


    <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">Users</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Users</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div th:replace="fragments/message :: msg"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span class="pull-right">
                                <button class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#modal_add_user">
                                <i class="fas fa-user-plus" aria-hidden="true"></i> Add new user</button>
                                </span>
                                <div class="modal fade custom-modal" tabindex="-1" role="dialog"
                                     aria-labelledby="modal_add_user" aria-hidden="true" id="modal_add_user">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <form th:action="@{/user/update}" method="post" th:object="${user}" enctype="multipart/form-data">
                                                <input th:type="hidden" th:field="*{id}" th:errorclass="is-invalid" >
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Add new user</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">&times;</span>
                                                        <span class="sr-only">Close</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Login (required)</label>
                                                                <input class="form-control" th:field="*{login}" th:errorclass="is-invalid" type="text"
                                                                       required/>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Email (required)</label>
                                                                <input class="form-control" th:field="*{email}" th:errorclass="is-invalid" type="email"
                                                                       required/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Password (required)</label>
                                                                <input type="password" required class="form-control" th:field="*{password}" th:errorclass="is-invalid" placeholder="Enter password">
                                                                <small id="passwordError" class="form-text alert-danger"
                                                                       th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Validation error</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Confirm Password (required)</label>
                                                                <input type="password" required class="form-control" th:field="*{matchingPassword}" th:classappend="${#fields.hasErrors('matchingPassword')}?'is-invalid'"
                                                                       placeholder="Confirm password">
                                                                <small id="matchingPasswordError" class="form-text alert-danger"
                                                                       th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">Validation error</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Role</label>
                                                                <select multiple th:field="*{roles}"
                                                                        class="form-control" required>
                                                                    <option th:each="role : ${roles}"
                                                                            th:text="${role.name}"
                                                                            th:value="${role.id}"
                                                                            th:selected="${user.roles?.contains(role)}"></option>
                                                                </select>
                                                            </div>
                                                        </div>

<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label>Skype (optional)</label>-->
<!--                                                                <input class="form-control" name="skype" type="text"/>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                    </div>


<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label>Email verified</label>-->
<!--                                                                <select name="email_verified" class="form-control">-->
<!--                                                                    <option value="1">YES</option>-->
<!--                                                                    <option value="0">NO</option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->
<!--                                                        </div>-->

<!--                                                        <div class="col-lg-6">-->
<!--                                                            <div class="form-group">-->
<!--                                                                <label>Active</label>-->
<!--                                                                <select name="active" class="form-control">-->
<!--                                                                    <option value="1">YES</option>-->
<!--                                                                    <option value="0">NO</option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->
<!--                                                        </div>-->

<!--                                                    </div>-->

<!--                                                    <div class="form-group">-->
<!--                                                        <label>Avatar image (optional):</label>-->
<!--                                                        <br/>-->
<!--                                                        <input type="file" name="image">-->
<!--                                                    </div>-->

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" th:type="submit" class="btn btn-primary">Add user</button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <h3><i class="far fa-user"></i>All Users</h3>
                            </div>

                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="min-width:300px">User details</th>
                                            <th style="width:120px">Role</th>
                                            <th>Create/Update</th>
                                            <th style="min-width:110px;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${usersPage.content}">
                                            <td>
                                                <div class="user_avatar_list d-none d-none d-lg-block"><img alt="image" th:src="@{/images/avatars/avatar_small.png}" /></div>
                                                <h4 th:text="*{user.login}">Demo Administrator</h4>
                                                <p th:text="'ID:'+*{user.id}" >webmaster@website.com</p>
                                                <p><a th:href="'mailto:' + *{user.email}" th:text="*{user.email}">Email</a></p>
                                                <p>Bio: Nulla cursus maximus lacus at efficitur. In lobortis ante vitae nulla semper, in volutpat libero aliquet. Morbi sit amet nibh vitae metus interdum finibus sed nec nisl nec sidios.</p>
                                            </td>
                                            <td>
                                                <p th:each="role : *{user.roles}">
                                                    <span th:text="*{role.name}">User role</span>
                                                </p>
                                            </td>
                                            <td scope="row">
                                                <span th:text="*{user.createDate} != null?*{user.createDate}:'-'"></span>
                                                <hr/>
                                                <span th:text="*{user.modifyDate} != null?*{user.modifyDate}:'-'"></span>
                                            </td>
                                            <td>
<!--                                                <a href="#" class="btn btn-primary btn-sm btn-block"><i class="far fa-edit"></i> Edit</a>-->
<!--                                                <a href="#" class="btn btn-danger btn-sm btn-block mt-2"><i class="fas fa-trash"></i> Delete</a>-->
                                                <div class="btn-group me-2 row text-center" role="group" aria-label="First group">
                                                    <div class="col-12 p-2">
                                                    <a class="btn btn-success btn-block" th:href="@{/user/{id}(id = ${user.id})}"><i class="far fa-edit"></i> Edit</a>
                                                    </div>
                                                    <div class="col-12 p-2">
                                                    <form th:action="@{/user/{id}/delete (id=*{user.id})}" th:method="delete">
                                                        <button class="btn btn-danger btn-block" type="Submit"><i class="fas fa-trash"></i> Delete</button>
                                                    </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-12">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                            <li class="page-item " th:classappend="${usersPage.number < 1}?'disabled'">
                                                <a class="page-link"
                                                   th:text="Previous"
                                                   th:href="@{user(page=${usersPage.number},size=${usersPage.size},login_filter=${param.login_filter},email_filter=${param.email_filter},check_email_filter=${param.check_email_filter},check_login_filter=${param.check_login_filter})}"
                                                   tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>

                                            <li th:each="num: ${#numbers.sequence(1,usersPage.totalPages)}"
                                                th:classappend="${num == usersPage.number+1}? 'active'"
                                                th:if="${num >= usersPage.number && num <= usersPage.number+2 && usersPage.number!=0 ||
                                                         num > 0 && num <= usersPage.number + 3 && usersPage.number==0 ||
                                                         num >= usersPage.number - 1 && usersPage.number==usersPage.totalPages-1}"
                                                class="page-item">
                                                <a class="page-link"
                                                   th:text="${num}"
                                                   th:href="@{user(page=${num},size=${usersPage.size},login_filter=${param.login_filter},email_filter=${param.email_filter},check_email_filter=${param.check_email_filter},check_login_filter=${param.check_login_filter})}">1</a>
                                            </li>

                                            <li class="page-item" th:classappend="${usersPage.number+1 >= usersPage.totalPages}?'disabled'">
                                                <a class="page-link"
                                                   th:text="Next"
                                                   th:href="@{user(page=${usersPage.number+2},size=${usersPage.size},check_email_filter=${param.check_email_filter},check_login_filter=${param.check_login_filter},login_filter=${param.login_filter},email_filter=${param.email_filter})}"
                                                >Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>


                            </div>
                            <!-- end card-body1 -->

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="usersTable" class="table table-bordered table-hover display"
                                           style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Login</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Create/Update</th>
                                            <th sec:authorize="hasRole('ADMIN')">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
<!--                                        <tr th:each="user : ${usersPage.content}">-->
                                        <tr th:each="user : ${userList}">
                                            <th scope="row" th:text="*{user.id}">1</th>
                                            <td scope="row" th:text="*{user.login}">User Login</td>
                                            <td scope="row">
                                                <a th:href="'mailto:' + *{user.email}" th:text="*{user.email}">Email</a>
                                            </td>
                                            <td scope="row">
                                                <p th:each="role : *{user.roles}">
                                                    <span th:text="*{role.name}">User role</span>
                                                </p>
                                            </td>
                                            <td scope="row">
                                                <span th:text="*{user.createDate} != null?*{user.createDate}:'-'"></span>
                                                <hr/>
                                                <span th:text="*{user.modifyDate} != null?*{user.modifyDate}:'-'"></span>
                                            </td>
                                            <td scope="row" class="text-center" style="width: 10px;" sec:authorize="hasRole('ADMIN')">
                                                <div class="btn-group me-2" role="group" aria-label="First group">
                                                    <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i
                                                            class="far fa-edit"></i> </a>
                                                    <form th:action="@{/user/{id}/delete (id=*{user.id})}" th:method="delete">
                                                        <button class="btn btn-danger" type="Submit"><i class="fas fa-trash"></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive-->

                            </div>
                            <!-- end card-body2-->

                        </div>
                        <!-- end card-->

                    </div>

                </div>
                <!-- end row-->

            </div>
            <!-- END container-fluid -->

        </div>
        <!-- END content -->

    </div>
    <!-- END content-page -->

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:replace="fragments/footer :: core_scripts"></script>

</div>
<!-- END main -->

<script th:replace="fragments/footer :: datatables_scripts"></script>
<th:block th:replace="fragments/message :: msg_close"></th:block>

<script>
    $(document).on('ready', function () {
        $('#usersTable').DataTable();
    });
</script>
<!-- END Java Script for this page -->

</body>

</html>