<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <div class="row py-2">
        <hr/>
        <div class="col-12">
            <table class="table table-bordered my-2 display" id="products" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <th scope="row" th:text="*{product.id}">1</th>
                    <td scope="row" th:text="*{product.name}">Product name</td>
                    <td scope="row" th:text="*{product.price}">Price</a>
                    </td>
                    <td scope="row" class="text-center" style="width: 10px;">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i class="bi bi-pencil-square"></i></a>
                            <form th:action="@{/product/{id}/delete (id=*{product.id})}" th:method="delete">
                                <button class="btn btn-danger" type="Submit" ><i class="bi bi-trash"></i> </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<script th:replace="fragments/footer :: core_scripts"></script>
<script>
    $(function () {
        $('#products').DataTable();
    });
</script>
</body>
</html>